/* src/components/Header.css */
.header {
  font-size: 15px;
  background-color: #700505;
  color: rgb(223, 22, 237);
  padding: 10px 20px;
  text-align: left;
  display: flex;
  border:2px solid black;
}
.icon{
  width: 500px;
  display: flex;
  padding-right: 20px;
}
/* src/components/Post.css */
.post {
  border: 1px solid #9e9c9c;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  height: 200px;
  box-shadow: 10px 10px 10px rgb(158, 5, 5);
  background-color:rgb(203, 9, 9) ;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* src/components/Feed.css */
.feed {
  width: 50%;
  margin: 20px auto;
}
.b{
margin-right: 5px;
background-color:#044cdd ;
border: none;
}
.navigation{
  align-content: end;
}
.f-icon{
  font-size: 30px;
}
.content{
  height: 100px;
}
.like-b{
  color: rgba(0, 13, 255, 0.948);
  align-content: end;
}
.delete-b{
  color: red;
}

.sidebar{
  margin-top: 10px;
  border-right: solid black;
  border-top: solid black;
  width: 100px;
  height: auto;

}
.home-page{
  display: flex;
  background-color: rgb(241, 9, 9);
  height: auto;
  min-height: 300px;
}
.create-b{
  margin-top: 50px;
  height: 30px;
  width: 100px;
  background-color: rgb(215, 95, 95) ;;
  border: none;
  border-radius: 5px;
  font-size: medium;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.create-b:hover{
  background-color: rgba(244, 11, 18, 0.986);
  box-shadow: 2px 2px 2px rgba(183, 6, 12, 0.986); 
}
.like-number{
  background-color: rgb(203, 9, 9);
  border: none;
}
.no-post{
  margin-top: 250px;
  padding-bottom: 2px;
}


